---
layout: none
---
<%
site_url = @config[:site][:url]
books = feed_books
%><?xml version="1.0" encoding="UTF-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">

  <title><%=h @config[:site][:title] %></title>
  <link rel="alternate" type="text/html" href="<%= site_url %>"/>

  <link rel="self" type="application/atom+xml" href="<%= "#{site_url}#{@items['/feed.*'].path}" %>"/>
<% unless books.empty? %>
  <updated><%= get_atom_date(books.first) %></updated>
<% end %>
  <id>urn:uuid:<%= @config[:site][:uuid] %></id>

  <icon><%= "#{site_url}#{@items['/static/favicon.*'].path(rep: :default)}" %></icon>
  <% books.each do |book| %>
    <%= book.reps[:feed].compiled_content(snapshot: :feed) %>
  <% end %>
</feed>
