---
title: Mes lectures
uuid: b571886b-c053-43fe-baa4-427ef0db57b2
---

<%
ongoing_book, ongoing_book_cover = ongoing_book_info

books = recent_books
# the ongoing book, if any, takes the room of 2 books
books = books.take(books.size - 2) unless ongoing_book.nil?
%>

<% unless books.empty? %>
  <h1>Lectures récentes <span class="title-more"><a href="<%= @items['/last-readings.*'].path %>">→ voir plus…</a></span></h1>
  <div id="recent-books" class="book-grid">
  <% unless ongoing_book.nil? %>
    <div class="book-card ongoing book-showcase">
    <% unless ongoing_book_cover.nil? %>
    <div class="book-cover-showcase" title="En cours de lecture…">
    <a href="<%= ongoing_book.path %>"><img src="<%= ongoing_book_cover.path(rep: :showcase) %>"></a>
    </div>
    <% end %>
    <div class="book-info">
    <h2><a href="<%= ongoing_book.path %>"><%= ongoing_book[:title] %></a></h2>
    <h4><%= ongoing_book[:author] %></h4>
    </div>
    </div>
  <% end %>
  <% books.each do |book| %>
    <%= book.reps[:card].compiled_content(snapshot: :card) %>
  <% end %>
  </div>
<% end %>

<%
w_books = wished_books(6)
unless w_books.empty?
%>
  <h1>Envies <span class="title-more"><a href="<%= @items['/wished-books.*'].path %>">→ voir plus…</a></span></h1>
  <div id="wished-books" class="book-grid">
  <% w_books.each do |book| %>
    <%= book.reps[:card].compiled_content(snapshot: :card) %>
  <% end %>
  </div>
<% end %>

<% unless books.empty? && w_books.empty? %>
  <h1>Bibliothèque</h1>
<% end %>

  <table id="books-table-noscript" class="books-table">
  <thead>
    <tr>
      <th style="width: 65px;"><!-- cover --></th>
      <th>Titre</th>
      <th>Auteur</th>
      <th style="width: 220px;"><!-- rating --></th>
      <th style="width: 65px;"><!-- favorite --></th>
    </tr>
  </thead>
  <tbody>
<%
rated_books.sort_by { |book|
  [
    -book[:rating].to_i,
    book[:favorite] ? 0 : 1,
    sortable_label(book[:title])
  ]
}.each do |book|
%>
    <tr id="isbn_<%= book[:isbn] %>" data-isbn="<%= book[:isbn] %>" data-uuid="<%= book[:uuid] %>">
      <td>
<%
cover = @items["/cover/#{book[:isbn]}.*"]
unless cover.nil?
%>
        <img src="<%= cover.path(rep: :mini) %>" width="<%= cover["width_mini"] %>" height="<%= cover["height_mini"] %>"  alt="Couverture du livre <%= book[:title] %> de <%= book[:author] %>" class="book-cover-mini">
<% end %>
      </td>
      <td><a href="<%= book.path %>"><%= book[:title] %></a></td>
      <td><%= book[:author] %></td>
      <td>
        <p aria-label="<%= book[:rating] %>" title="<%= book[:rating] %>" style="vertical-align: middle; text-align: center;">
          <% 10.times do |i| %>
          <%= star_svg(filled: i < book[:rating], size: 16) %>
          <% end %>
        </p>
      </td>
      <td>
<% if book[:favorite] %>
        <span class="favorite-icon" aria-label="Coup de cœur" title="Coup de cœur"><%= heart_svg %></span>
<% end %>
      </td>
    </tr>
<% end %>
  </tbody>
  </table>