---
title: Dernières lectures
uuid: f7892c5d-a6a4-4e59-a7df-6838c73120c7
---

<%
books = last_books
if books.empty?
%>
  <h1>Lectures récentes</h1>
  <p>Aucune information sur les dernières lectures.</p>
<%
else
  books_by_year = books.group_by { |book| book[:read_date].year }
  books_by_year.each do |year, books_in_year|
    books_by_year[year] = books_in_year.group_by { |book| book[:read_date].month }
  end
%>
  <h1><%= @item[:title] %> <span class="title-more"><a href="#" title="Pas de filtre">tout</a> • <a href="#only-favorites" title="Ne voir que les favoris"><%= heart_svg(size: 12) %></a></span></h1>

  <table class="calendar">
  <thead>
    <tr>
    <th></th>
    <% (1..12).each do |month_num| %>
      <th><%= I18n.t('date.month_names')[month_num].slice(0, 3) %></th>
    <% end %>
    </tr>
  </thead>
  <tbody>
  <%
  books_by_year.each do |year, books_by_month|
    book_count_in_year = books_by_month.values.sum(&:size)
    book_count_in_year_title = I18n.t(
        'last_readings.readings_count_in_year',
        count: book_count_in_year,
        book_count: book_count_in_year,
        year: year
      )
  %>
  <tr>
    <%# FIXME handle case of empty years %>
    <th><a href="#y<%= year %>" title="<%= book_count_in_year_title %>"><%= year %></a></th>
    <%
    (1..12).each do |month_num|
      month_books = books_by_month[month_num] || []
      book_count = month_books.count
      book_count_title = I18n.t(
        'last_readings.readings_count_in_month',
        count: book_count,
        book_count: book_count,
        month: I18n.t('date.month_names')[month_num],
        year: year
      )
      # we consider a max of 7 books per month for a max radius of 50
      max_per_month = 7
      max_radius = 50
      book_count_cap = [book_count, max_per_month].min
      radius_per_book = max_radius / max_per_month.to_f
      book_radius = radius_per_book * book_count_cap
      # linked to values in style.css (`data-book-read-count`)
      book_color_alpha = book_count_cap * 14 / 100.0
    %>
    <td class="calendar-cell" data-book-read-count="<%= book_count_cap %>">
    <% if book_count > 0 %>
    <a href="#y<%= year %>-m<%= month_num %>" title="<%= book_count_title %>">
    <% end %>
      <svg height="100%" viewBox="0 0 100 100" class="book-read-count-marker">
        <circle cx="50" cy="50" r="<%= book_radius %>" fill="rgba(197, 17, 4, <%= book_color_alpha %>)" />
      </svg>
    <% if book_count > 0 %>
    </a>
    <% end %>
    </td>
    <% end %>
  </tr>
<% end %>
  </tbody>
  </table>

<%
books_by_year.each do |year, books_by_month|
  book_count_in_year = books_by_month.values.sum(&:size)
%>
<div id="y<%= year %>" class="temporal-section year-section">
  <h2><%= year %>&nbsp;<span class="book-count">(<%= book_count_in_year %>)</span></h2>
  <%
  books_by_month.each do |month_num, books_in_month|
    book_count_in_month = books_in_month.size
  %>
  <div id="y<%= year %>-m<%= month_num %>" class="temporal-section month-section">
    <h3><%= I18n.t('date.month_names')[month_num].capitalize %>&nbsp;<span class="book-count">(<%= book_count_in_month %>)</span> <span class="title-more"><a href="#" title="Retour en haut de page">↑</a></span></h3>
    <div id="recent-books" class="book-grid">
      <% books_in_month.each do |book| %>
        <%= book.reps[:card].compiled_content(snapshot: :card) %>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
<% end %>
<% end %>