<div id="<%= "book-#{item[:isbn]}" %>">
<h2 class="book-title">
<%= @item[:title] %>
<% if @item[:favorite] %>
<span class="favorite-icon" aria-label="Coup de cœur" title="Coup de cœur"><%= heart_svg %></span>
<% end %>
</h2>
<h4><%= @item[:author] %></h4>

<div aria-label="<%= @item[:rating] %>" class="rating-bar" data-rating="<%= @item[:rating] %>" title="<%= @item[:rating] %>">
<% 10.times do |i| %>
<%= star_svg(filled: i < @item[:rating], params: { size: 16 }) -%>
<% end %>
</div>
<% unless item[:read_date].nil? %>
<p class="read-date">(lu en <%= get_pretty_date(item) %>)</p>
<% end %>

<%
unless @items["/cover/#{@item[:isbn]}.*"].nil?
  cover = @items["/cover/#{@item[:isbn]}.*"]
%>
<img src="<%= cover.path %>" width="<%= cover["width_default"] %>" height="<%= cover["height_default"] %>" class="book-cover">
<% end %>

<%= yield  %>

<div style="clear: left;"></div>

<%
unless @item.fetch(:linked_books, []).empty?
  def linked_book_items = @item[:linked_books].map { |isbn| @items["/book/#{isbn}.*"] }
%>
<h3>À lire aussi</h3>
<ul class="linked-books">
<% linked_book_items.each do |book| %>
  <li><a href="<%= book.path %>"><%= linked_book_title(@item, linked_book: book) %></a></li>
<% end %>
</ul>
<% end %>
</div>