    <div id="book-<%= item[:isbn] %>" class="book-card <%= item[:favorite] ? 'book-favorite' : 'book-regular' %>">
      <%
      cover = @items["/cover/#{item[:isbn]}.*"]
      unless cover.nil?
      %>

      <a href="<%= item.path %>"><img src="<%= cover.path(rep: :medium) %>" width="<%= cover["width_medium"] %>" class="book-cover-card"></a>
      <% end %>
      <div class="book-info" title="<%= "#{item[:title]} de #{item[:author]}"%>">
        <div class="book-header">
          <h2 class="book-title"><a href="<%= item.path %>"><%= item[:title] %></a></h2>
          <% if item[:favorite] %>
          <span class="favorite-icon" aria-label="Coup de cœur" title="Coup de cœur"><%= heart_svg %></span>
          <% end %>
        </div>

        <% if item[:rating] %>
        <div aria-label="<%= item[:rating] %>" title="<%= item[:rating] %>">
          <% 10.times do |i| %>
          <%= star_svg(filled: i < item[:rating], size: 12) %>
          <% end %>
        </div>
        <% else %>
        <h4><%= item[:author] %></h4>
        <% end %>

        <% if item[:read_date] %>
        <div class="book-footer book-details">
          <p class="read-date">Lu en <%= get_pretty_date(item) %></p>
        </div>
        <% elsif item[:priority] %>
        <div class="book-footer book-details">
          <p>Priorité <span class="wish-priority" data-priority="<%= item[:priority].to_i %>">#<%= item[:priority].to_i %></span></p>
        </div>
        <% end %>
      </div>
    </div>