    <div class="book-card <%= item[:favorite] ? 'book-favorite' : 'book-regular' %>">
      <%
      cover = @items["/cover/#{item[:isbn]}.*"]
      unless cover.nil?
      %>
      
      <a href="<%= item.path %>"><img src="<%= cover.path(rep: :medium) %>" width="<%= cover["width_medium"] %>" class="book-cover-card"></a>
      <% end %>
      <div id="book-<%= item[:isbn] %>" class="book-info" title="<%= "#{item[:title]} de #{item[:author]}"%>">
        <div class="book-header">
          <h2 class="book-title"><a href="<%= item.path %>"><%= item[:title] %></a></h2>
          <% if item[:favorite] %>
          <span class="favorite-icon" aria-label="Coup de cœur" title="Coup de cœur"><%= heart_svg %></span>
          <% end %>
        </div>
        <div aria-label="<%= item[:rating] %>" title="<%= item[:rating] %>">
          <% 10.times do |i| %>
          <%= star_svg(filled: i < item[:rating], params: { size: 12 }) %>
          <% end %>
        </div>
        <div class="book-footer">
          <p class="read-date">Lu en <%= get_pretty_date(item) %></p>
        </div>
      </div>
    </div>